@import 'tailwindcss';

:root {
  --background: #ffffff;
  --primary: #284260;
  --secondary: #6e859f;
  --highlight: #1ca7c8;
}

@theme inline {
  --spacing: 4px;
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-highlight: var(--highlight);
}

body {
  font-size: 16px;
  box-sizing: border-box;
  background: var(--background);
  color: var(--foreground);
  font-family: 'Chakra Petch', Arial, Helvetica, sans-serif;
}
