@import 'tailwindcss';

:root {
  --background: #ffffff;
  --primary: #284260;
  --secondary: #6e859f;
  --highlight: #1ca7c8;
  --text-gradient: linear-gradient(90deg, #8c61d5 43.48%, #1ca7c8 100%);
  --background-gradient: linear-gradient(circle, #6cdcff33 0%, #c1bcff4d 30%, #db73ff4d 100%);
}

.text-gradient {
  background: var(--text-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.background-gradient {
  background: var(--background-gradient);
  backdrop-filter: blur(141.79);
}

@theme inline {
  --spacing: 4px;
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-highlight: var(--highlight);
  --font-sans: 'Inter', Arial, Helvetica, sans-serif;
  --font-chakra-petch: 'Chakra Petch', sans-serif;
}

body {
  font-size: 16px;
  box-sizing: border-box;
  background: var(--background);
  color: var(--secondary);
  font-family: var(--font-sans);
  scroll-behavior: smooth;
}

@layer components {
  .gradient-bg {
    @apply relative lg:min-h-[70vh] w-full;
  }

  .glow {
    @apply absolute translate-x-[-50%] translate-y-[-50%] rounded-full blur-[140px];
  }

  .glow-blue {
    @apply left-[75%] top-[40%] bg-[#6CDCFF]/20 md:h-[374px] md:w-[488px];
  }

  .glow-purple {
    @apply left-[45%] top-[35%] bg-[#DB73FF]/30 md:h-[365px] md:w-[477px];
  }
}
